# Bit academy communitychallenge
Elke week is er weer een nieuwe community challenge. Deze zijn voor elke student toegankelijk en hebben genoeg diepgang om jezelf lekker uit te dagen!

Op de maandag zal de nieuwe opdracht live gezet worden op deze website. Mocht je er iets heel moois van willen maken kan je op maandagmiddag dus al aan de slag! Gebruik je tijd goed, want op vijdag om middernacht is de dealine.

We laten jullie helemaal vrij welke programmeertaal je gebruikt om de challenge te voltooien.

Zondag maken we de winnaar tijdens de coding sessie om 12:00 bekend en gaan we verschillende opdrachten live reviewen. Op deze manier kunnen we goed van elkaars code leren! Het mooiste moet nog komen:

De winnaar gaat naar huis met een Bit Academy shirt!

In [1]:
import pandas as pd

## 0 sterren
Begin door de beschikbaarheid van de coaches in een geschikte datastructuur te zetten. De beschikbaarheid wordt in een pandas DataFrame gezet

In [2]:
coaches_df = pd.DataFrame([['Sander','Ma, Wo, Vr, Zo', 'avond'],
['Alexander','Ma, Do, Za', 'avond'],
['Nick','Di, Vr','Geen voorkeur'],
['Sam','Wo, Vr','Geen voorkeur'],
['Daniel','Di, Do,','ochtend, middag'],
['Henok','Di, Wo','middag, avond']], columns=['coach','beschikbaarheid','voorkeur'])

In [3]:
coaches_df

       coach beschikbaarheid         voorkeur
0     Sander  Ma, Wo, Vr, Zo            avond
1  Alexander      Ma, Do, Za            avond
2       Nick          Di, Vr    Geen voorkeur
3        Sam          Wo, Vr    Geen voorkeur
4     Daniel         Di, Do,  ochtend, middag
5      Henok          Di, Wo    middag, avond

## 1 Ster
Maak een rooster dat iedere coach ten minste 1 keer inroostert. Laat vervolgens het rooster zien op een overzichtelijke manier. Je mag er voor nu nog vanuit gaan dat een coaching sessie de gehele dag duurt en dat de coaches de gehele dag beschikbaar zijn.

De coaches worden op basis van hun index toegewezen aan een dag. Aangezien er meer dagen dan coaches zijn, is er een coach met 2 shifts

In [4]:
rooster = pd.DataFrame(data=['Ma','Di','Wo','Do','Vr','Za','Zo'], columns=['dag'])

iter_list = []
for n in range(6, 13, 1):
    
    iter_list.append((coaches_df['coach'][n % 6]))

rooster['coach'] = iter_list
rooster

  dag      coach
0  Ma     Sander
1  Di  Alexander
2  Wo       Nick
3  Do        Sam
4  Vr     Daniel
5  Za      Henok
6  Zo     Sander

## 2 Sterren
Het blijkt het team toch gelukt te zijn om een rooster te fabriceren. Het ziet er als volgt uit.

In [5]:
ingeroosterd = pd.DataFrame([
['Maandag','09:00','17:30','Sander'],
['Maandag','19:00','21:00','Alexander'],
['Dinsdag','09:00','17:30','Daniel'],
['Dinsdag','17:30','21:00','Nick'],
['Woensdag','09:00','17:30','Henok'],
['Woensdag','19:00','21:00','Sam'],
['Donderdag','09:00','17:30','Daniel'],
['Donderdag','19:00','21:00','Alexander'],
['Vrijdag','09:00','17:30','Sander'],
['Zaterdag','09:00','17:30','Alexander'],
['Zondag','09:00','17:30','Sander']], columns = ['Dag','Van','Tot','Ingeroosterd']
)
ingeroosterd

          Dag    Van    Tot Ingeroosterd
0     Maandag  09:00  17:30       Sander
1     Maandag  19:00  21:00    Alexander
2     Dinsdag  09:00  17:30       Daniel
3     Dinsdag  17:30  21:00         Nick
4    Woensdag  09:00  17:30        Henok
5    Woensdag  19:00  21:00          Sam
6   Donderdag  09:00  17:30       Daniel
7   Donderdag  19:00  21:00    Alexander
8     Vrijdag  09:00  17:30       Sander
9    Zaterdag  09:00  17:30    Alexander
10     Zondag  09:00  17:30       Sander

## Aantal uren
Sorteer de coaches op basis van aantal uren in de week en op basis van naam. Geef deze data op een leuke manier weer.

Het aantal uren wordt bepaald, en hierop wordt gesorteerd

In [6]:
ingeroosterd['Van'] = pd.to_datetime(ingeroosterd['Van'])
ingeroosterd['Tot'] = pd.to_datetime(ingeroosterd['Tot'])

ingeroosterd['uren_gewerkt'] = (ingeroosterd['Tot'] - ingeroosterd['Van'])
ingeroosterd['uren_gewerkt'] = ingeroosterd['uren_gewerkt'].dt.total_seconds()/3600
ingeroosterd_selectie = ingeroosterd[['Ingeroosterd','uren_gewerkt']]
grouped_by_uren = ingeroosterd_selectie.groupby(['Ingeroosterd']).sum().sort_values(by='uren_gewerkt', ascending=False)
grouped_by_uren.index.rename('Coach', inplace=True)
grouped_by_uren.rename(columns={'uren_gewerkt' : 'Gewerkte uren'}, inplace=True)
grouped_by_uren

           Gewerkte uren
Coach
Sander              25.5
Daniel              17.0
Alexander           12.5
Henok                8.5
Nick                 3.5
Sam                  2.0

## Sorteren op naam
Er wordt vervolgens op naam gesorteerd

In [7]:
grouped_by_uren.sort_values(by='Coach')

           Gewerkte uren
Coach
Alexander           12.5
Daniel              17.0
Henok                8.5
Nick                 3.5
Sam                  2.0
Sander              25.5

## 3 sterren
Het gegenereerde rooster heeft echter niet met iedereen rekening kunnen houden. Bij welke coach is zijn voorkeur het meeste naar voren gekomen en bij wie minder? Druk dit uit in percentages van ingeplande uren binnen de voorkeur / totaal ingeplande uren x 100%.

Hiervoor begin ik met bepalen wat als ochtend, middag en avond telt. Ik gebruik hiervoor ochtend als 9:00 tot 12:00, middag als 12:00 tot 17:30, en avond na 17:30.

In [8]:
ingeroosterd['ochtend'] = ingeroosterd.apply(lambda x: 3 if '09:00:00' in str(x['Van']) else 0, axis=1)
ingeroosterd['middag'] = ingeroosterd.apply(lambda x: 5.5 if '09:00:00' in str(x['Van']) else 0, axis=1)
ingeroosterd['avond'] = ingeroosterd.apply(lambda x: 2 if '19:00:00' in str(x['Van']) else 0, axis=1)
ingeroosterd['avond'] = ingeroosterd.apply(lambda x: 3.5 if '17:30:00' in str(x['Van']) else x['avond'], axis=1)

## Coach voorkeur
De voorkeur per coach wordt met een functie bepaald

In [9]:
def voorkeur_checken(coach, tijd):
    coach_row = coaches_df[coaches_df['coach'] == coach]
    coach_voorkeur = coach_row['voorkeur']
    if tijd == 'ochtend':
        ochtend = 'ochtend' in str(coach_row['voorkeur'])
        return ochtend
    if tijd == 'middag':
        middag = 'middag' in str(coach_row['voorkeur'])
        return middag
    if tijd == 'avond':
        avond = 'avond' in str(coach_row['voorkeur'])
        return avond

## Kolommen voor dagdeel
Per dagdeel wordt het aantal uur in een kolom weergegeven

In [10]:
ingeroosterd['ochtend_voorkeur'] = ingeroosterd.apply(lambda x: voorkeur_checken(x['Ingeroosterd'],'ochtend') * x['ochtend'] , axis=1)
ingeroosterd['middag_voorkeur'] = ingeroosterd.apply(lambda x: voorkeur_checken(x['Ingeroosterd'],'middag') * x['middag'] , axis=1)
ingeroosterd['avond_voorkeur'] = ingeroosterd.apply(lambda x: voorkeur_checken(x['Ingeroosterd'],'avond') * x['avond'] , axis=1)

## Voorkeur uren
De totale voorkeur uren per coach worden bepaald, dit wordt gedeeld door het aantal gewerkte uren. Dit wordt uitgedrukt in een tabel

In [11]:
ingeroosterd['voorkeur_uren'] = ingeroosterd['ochtend_voorkeur'] + ingeroosterd['middag_voorkeur'] + ingeroosterd['avond_voorkeur']
total_gewerkt = pd.DataFrame(ingeroosterd.groupby(['Ingeroosterd']).uren_gewerkt.sum())
voorkeur_gewerkt = ingeroosterd.groupby(['Ingeroosterd']).voorkeur_uren.sum()
merged_gewerkt = total_gewerkt.merge(voorkeur_gewerkt, left_on = 'Ingeroosterd', right_on = voorkeur_gewerkt.index)
merged_gewerkt['percentage'] = round(merged_gewerkt['voorkeur_uren'] / merged_gewerkt['uren_gewerkt'] * 100 , 2)
merged_gewerkt.rename(columns = {'Ingeroosterd' : 'Coach',
                                'uren_gewerkt' : 'Gewerkte Uren',
                                'voorkeur_uren' : 'Voorkeur uren'}, inplace=True)
merged_gewerkt

       Coach  Gewerkte Uren  Voorkeur uren  percentage
0  Alexander           12.5            4.0       32.00
1     Daniel           17.0           17.0      100.00
2      Henok            8.5            5.5       64.71
3       Nick            3.5            0.0        0.00
4        Sam            2.0            0.0        0.00
5     Sander           25.5            0.0        0.00

## 4 Sterren
Genereer nu zelf een rooster die zo veel mogelijk luistert naar de voorkeur van de coaches. De shifts zijn hieronder in de tabel te vinden.

Ik vond het leuk om hiervoor een Class aan te maken

In [12]:
class Coach:
    uren_gewerkt = 0
    instances = []
    shifts_gewerkt = 0
    
    
    def __init__(self, naam, beschikbaarheid, voorkeur):
        self.naam = naam
        self.beschikbaarheid = beschikbaarheid
        self.voorkeur = voorkeur
        
        #Maken van een lijst van instances om mee te kunnen filteren
        Coach.instances.append(self)
    
    def update_uren(self, gewerkte_uren):
        self.uren_gewerkt += gewerkte_uren
    
    def update_shifts(self, shift):
        self.shifts_gewerkt += shift
    
    def dagen(self):
        return [self.naam , self.beschikbaarheid , self.voorkeur]
    
    def remove_availability(self, dag):
        self.beschikbaarheid

## Aanmaken instances

In [13]:
#importeren van de coach gegevens en maken instances
sander = Coach('Sander','Ma, Wo, Vr, Zo', 'avond')
alexander = Coach('Alexander','Ma, Do, Za', 'avond')
nick = Coach('Nick','Di, Vr','Geen voorkeur')
sam = Coach('Sam','Wo, Vr','Geen voorkeur')
daniel = Coach('Daniel','Di, Do,','ochtend, middag')
henok = Coach('Henok','Di, Wo','middag, avond')

## Invoeren shifts

In [14]:
shifts = pd.DataFrame(data = 
[['Maandag','09:00','17:30'],
['Maandag','19:00','21:00'],
['Dinsdag','09:00','17:30'],
['Dinsdag','17:30','21:00'],
['Woensdag','09:00','17:30'],
['Woensdag','19:00','21:00'],
['Donderdag','09:00','17:30'],
['Donderdag','19:00','21:00'],
['Vrijdag','09:00','17:30'],
['Zaterdag','09:00','17:30'],
['Zondag','09:00','17:30']], 
columns = ['Dag','Van','Tot'],
                     )

## Aangeven welke tijd van de dag elke shift heeft

In [15]:
shifts['dag'] = shifts.apply(lambda x: x['Dag'][0:2], axis=1)
shifts['tijd'] = shifts.apply(lambda x: ['avond'] if x['Van'] >= '17:30' else x['Van'], axis=1)
shifts['tijd'] = shifts.apply(lambda x: ['ochtend','middag'] if x['Van'] == '09:00' else x['tijd'], axis=1)

## Dagen categorie
Aanmaken dagen categorie voor gebruik in sort_values()

In [16]:
from pandas.api.types import CategoricalDtype

dagen = CategoricalDtype(
    ["Ma", "Di", "Wo", "Do", "Vr", "Za", "Zo"], 
    ordered=True
)

shifts['dag'] = shifts['dag'].astype(dagen)

## Overlap bepalen
Functie voor het bepalen van overlap tussen 2 lijsten

In [17]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

shifts['preferred_coaches'] = shifts.apply( lambda x: intersection(\
    [n.naam for n in Coach.instances if intersection(x['tijd'], n.dagen()[2])]\
    ,[n.naam for n in Coach.instances if x['dag'] in n.dagen()[1]]), axis=1)
shifts['available_coaches'] = shifts.apply(lambda x: [n.naam for n in Coach.instances if x['dag'] in n.dagen()[1]], axis=1)

## Coach toewijzen
Functie voor het toewijzen van een coach voor een shift.

Bij 1 beschikbare coach is het duidelijk wie er wordt toegewezen.
Vervolgens als er meerdere beschikbaar zijn maar 1 coach heeft die tijd/dag combinatie als voorkeur wordt die toegwezen.
Als er de keuze is uit meerdere coaches met die dag/voorkeur combinatie gaat de keuze naar de coach met tot nu toe de minste shifts.
Als er niemand is die een voorkeur heeft voor deze tijd/dag combinatie wordt de shift toegewezen aan een beschikbare coach die tot nu toe de minste shifts heeft
Uiteindelijk als er iemand een dubbele shift heeft wordt de shift aan een andere coach toegewezen

In [18]:
pd.options.mode.chained_assignment = None

def assign_coach(row):

#Bij 1 beschikbare coach is het duidelijk wie er wordt toegewezen.
    if len(row['available_coaches']) == 1:
        coach_assigned = [n for n in Coach.instances if row['available_coaches'][0] == n.naam][0]
        coach_assigned.update_shifts(1)
        return coach_assigned.naam

#Vervolgens als er meerdere beschikbaar zijn maar 1 coach heeft die tijd/dag combinatie als voorkeur wordt die toegwezen.

    if len(row['available_coaches']) >1:
        
        if len(row['preferred_coaches']) == 1:            
            coach_assigned = [n for n in Coach.instances if row['preferred_coaches'][0] == n.naam][0]
            coach_assigned.update_shifts(1)
            return coach_assigned.naam

#Als er de keuze is uit meerdere coaches met die dag/voorkeur combinatie gaat 
#de keuze naar de coach met tot nu toe de minste shifts.
        if len(row['preferred_coaches']) > 1:
            temp_dict = {}
            for n in row['preferred_coaches']:
                coach_selected = [y for y in Coach.instances if n == y.naam][0]
                temp_dict[coach_selected.naam] = coach_selected.shifts_gewerkt
            coach_name = min(temp_dict.keys(), key=(lambda x: temp_dict[x]))
            coach_assigned = [n for n in Coach.instances if coach_name == n.naam][0]
            coach_assigned.update_shifts(1)
            return coach_assigned.naam
#Als er niemand is die een voorkeur heeft voor deze tijd/dag combinatie wordt de 
#shift toegewezen aan een beschikbare coach die tot nu toe de minste shifts heeft
        if len(row['preferred_coaches']) == 0:
            temp_dict = {}
            for n in row['available_coaches']:
                coach_selected = [y for y in Coach.instances if n == y.naam][0]
                temp_dict[coach_selected.naam] = coach_selected.shifts_gewerkt
            coach_name = min(temp_dict.keys(), key=(lambda x: temp_dict[x]))
            coach_assigned = [n for n in Coach.instances if coach_name == n.naam][0]
            coach_assigned.update_shifts(1)
            return coach_assigned.naam

shifts['len'] = shifts.apply(lambda x: len(x['available_coaches']), axis=1)
shifts = shifts.sort_values(by='len').drop(columns=['len'])
shifts['assigned_coach'] = None
shifts['assigned_coach'] = shifts.apply(lambda x: assign_coach(x), axis=1)

#Uiteindelijk als er iemand een dubbele shift heeft wordt de shift aan een andere coach toegewezen
#Hiervoor worden eerst de dagen bepaald met potentiele dubbele shift
double_shift_days = [shifts.dag.explode().value_counts().index[n]\
                     for n,l in enumerate(shifts.dag.explode().value_counts()) if l == 2]

# aan de hand van de eerder gedetecteerde dubbele shifts wordt er bepaald of er inderdaad sprake is van
# een dubbele shift. Dit blijkt zo te zijn voor Henok, wiens shift op dinsdagochtend/middag naar Daniel
# wordt overgezet.
def double_shift_detection(shifts):
    for n in double_shift_days:
        _df = shifts[shifts['dag'] == n].reset_index(drop=True)
        if _df['assigned_coach'][0] == _df['assigned_coach'][1]:
#selected shift to change
            for l in _df['preferred_coaches'][0]:
                if l == _df['assigned_coach'][0]:
                    continue
                else:
                    _df['assigned_coach'][0] = l

                    shifts = shifts.append(_df.iloc[0,:])
                    break
                
            index_list = shifts[shifts['dag'] == n].iloc[0:1,:].index.tolist()
            shifts.drop(index=index_list, inplace=True)
    return shifts

shifts = double_shift_detection(shifts)
shifts['dag'] = shifts['dag'].astype(dagen)
shifts.sort_values(by='dag', inplace=True)

## Eindresultaat
Uiteindelijk is hier dan het rooster toegesneden op de voorkeuren van de verschillende coaches. Helaas is Sam niet ingeroosterd doordat hij geen voorkeur heeft opgegeven.

In [19]:
shifts

,Dag,Van,Tot,dag,tijd,preferred_coaches,available_coaches,assigned_coach
0,Maandag,09:00,17:30,Ma,"[ochtend, middag]",[],"[Sander, Alexander]",Sander
1,Maandag,19:00,21:00,Ma,[avond],"[Sander, Alexander]","[Sander, Alexander]",Alexander
3,Dinsdag,17:30,21:00,Di,[avond],[Henok],"[Nick, Daniel, Henok]",Henok
0,Dinsdag,09:00,17:30,Di,"[ochtend, middag]","[Daniel, Henok]","[Nick, Daniel, Henok]",Daniel
4,Woensdag,09:00,17:30,Wo,"[ochtend, middag]",[Henok],"[Sander, Sam, Henok]",Henok
5,Woensdag,19:00,21:00,Wo,[avond],"[Sander, Henok]","[Sander, Sam, Henok]",Sander
6,Donderdag,09:00,17:30,Do,"[ochtend, middag]",[Daniel],"[Alexander, Daniel]",Daniel
7,Donderdag,19:00,21:00,Do,[avond],[Alexander],"[Alexander, Daniel]",Alexander
8,Vrijdag,09:00,17:30,Vr,"[ochtend, middag]",[],"[Sander, Nick, Sam]",Nick
9,Zaterdag,09:00,17:30,Za,"[ochtend, middag]",[],[Alexander],Alexander
10,Zondag,09:00,17:30,Zo,"[ochtend, middag]",[],[Sander],Sander